@font-face {
  font-family: 'RalewayBold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/RalewayBold/RalewayBold.woff');
}
@font-face {
  font-family: 'RalewayLight';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/RalewayLight/RalewayLight.woff');
}
@font-face {
  font-family: 'RalewayRegular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/RalewayRegular/RalewayRegular.woff');
}
@font-face {
  font-family: 'RalewayThin';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/RalewayThin/RalewayThin.woff');
}

* {
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}



.container {
	max-width: 1140px;
	padding: 100px 20px;
	margin: 0 auto;
}
.container__flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.responsive-img {
	max-width: 100%
}





/*header*/
.navbar {
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: #000;
	padding: 15px 0;
}
.navbar>.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}
/*logo*/
.logo {
	font-size: 37px;
	font-family: 'RalewayBold';
	color: #fff;
	text-transform: uppercase;
}
.span-color {
	font-family: 'RalewayThin';
	color: #ff8b38;
}
.menu-burger {
	display: none;
	font-size: 30px;
	color: rgba(255, 255, 255, 0.69);
}
.nav {
	display: flex;
	align-items: center;
	position: relative;
}
.menu-item {
	display: inline-block;
	color: rgba(255, 255, 255, 0.69);
	font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
	text-align: right;
	margin-left: 43px;
}
.menu-item a:after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: #ff8b38;
	margin-top: 3px;
	transition: width .3s ease; 
}
.menu-item a:hover:after {
	width: 100%;
}
/*.active {
	border-bottom: 2px solid #ff8b38;
}*/


/*#header*/
#header {
	background-image: url(../img/header-bg.jpg);
	padding-top: 90px;
	padding-bottom: 100px;
}
.logo__size {
	font-size: 84px;
	margin-bottom: 5px;
}
.header-text {
	width: 50%;
	margin-bottom: 40px;
}
.logo-sup-text {
	font-family: 'RalewayRegular';
	font-size: 36px;
	color: #fff;
	text-transform: uppercase;
}
.logo-sup-text:after {
	content: "";
	display: block;
	height: 2px;
	width: 64px;
	background-color: #fff;
	margin: 34px 0;
}
.header-content {
	font-family: 'RalewayRegular';
	font-size: 16px;
	font-weight: 300;
	line-height: 1.44em;
	letter-spacing: .08em;
	color: rgba(255, 255, 255, 0.8); 
	padding-bottom: 47px;
}

/*download-btn*/
.download-btn {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #fff;
	padding: 9px 32px;
	border: 2px solid #b7b7b7;
}
.download-btn:hover {
	box-shadow: 1px 1px 5px #333;
}
.download-btn__margin {
	margin-bottom: 20px;
}
/*form*/
.form>* {
	outline: none;
	border: none;
}
.form {
  width: 360px; height: 365px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
.form-header {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #333;
	padding-top: 20px;
}
.form>input {
	width: 80%;
	margin-bottom: 20px;
	border-bottom: 1px solid #d6d6d6;
}
.form>button {
	width: 100%;
	text-align: center;
	background-color: #ff9b51;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	margin-top: 40px;
	cursor: pointer;
}
.container__flex-header {
	display: flex;
	align-items: center;
}


/*social-media*/
#social {
	border-bottom: 1px solid #b7b7b7;
}
#social>.container {
	padding: 0 20px;
} 
.social-media {
	width: 35%;
	font-family: 'Open Sans', sans-serif;
	padding: 20px 0;
}
.container-header {
	font-size: 20px;
	font-weight: bold;
	color: #333;
}
.container-text, .section2-text {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.43;
	color: #86878b;
}

.social-icon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
}
.social-item {
	position: relative;
	width: 52px;
	height: 45px;
	background-image: url(../img/social-icon.png);
	background-repeat: no-repeat;
	transition: transform .2s ease;
}
.social-item:hover {
	transform: scale(1.1);
	filter: invert(51%) sepia(33%) saturate(6108%) hue-rotate(338deg) brightness(183%) contrast(122%);
}
.twitter {
	background-position: -85px 0;
}
.google {
	background-position: -189px 0;
}
.pinterest {
	background-position: -281px 0;
}
.instagram {
	background-position: -380px 0;
}
.soc {
	background-position: -484px 0;
}
.wi-fi{
	background-position: -588px 0;
}


/*#transition-effect*/
#transition-effect {
		padding: 145px 0;
}
.transition-effect-block {
	display: flex;
	flex-direction: column;
	width: 15%;
}
.transition-effect-block-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 112px; height: 112px;
	margin-bottom: 1px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	background-color: #333;
	transition: background-color .2s ease;
	user-select: none;
}
.transition-effect-block-item:hover {
	background-color: #ff8b38; 
}
.transition-effect-block-item:first-child {
	border-radius: 5px 5px 0 0 ;
	border-bottom: unset;
}
.transition-effect-block-item:last-child {
	border-radius: 0 0 5px 5px ;
	border-top: none;
}

.transition-effect-text {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 40%;
}
.download-btn__color {
	background-color: #ff8b38; 
	border: none;
	border-radius: 3px;
}
.transition-effect-img {
	min-width: 320px;
	display: flex;
	align-items: center;
}


/*#list*/
.list, .picture {
	justify-content: space-between;
	align-items: center;
	padding-bottom: 145px;
}
.section-text {
	width: 37%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.list>.order-text {
	order: 2;
}
.container-header__after:after {
	content: '';
	display: block;
	width: 64px; height: 2px;
	background-color: #ff8b38;
	margin: 30px 0;
}
.section-text-sub-header{
	padding-top: 20px;
}
.section-text-sub-header>img {
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}
.section-text-sub-header>h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.21;
	color: #212121;
	text-transform: capitalize;
}
.section-img {
	width: 37%;
}


/*picture*/
.picture {
	background-color: #f5f5f5;
}


/*awesome*/
.section-header {
	font-family: 'RalewayRegular';
	font-size: 36px;
	line-height: 1.19;
	text-align: center;
	color: #212121;
}
.section-header:after {
	content: '';
	display: block;
	width: 64px; height: 2px;
	background-color: #ff8b38;
	margin: 30px auto;
}
.section2-text {
	text-align: center;
	padding-bottom: 80px;
}

.section-items img {
	user-select: none;
}
.section-items {
	flex-basis: 30%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 10px;
}
.section-items h3 {
	padding: 24px 0;
	color: #333;
	font-size: 20px;
}
.container-text__center {
	text-align: center;
}


/*pricing*/
#pricing {
	background-color: #f5f5f5;
}
#pricing>.section-container {
	position: relative;
}
.section-items__price {
	background-color: #333;
	position: relative;
	transition: transform .2s ease;
	height: 90%;
}

.section-items__price:hover {
	transform: scaleY(1.01);
}
.section-items__price:hover>.price-hover {
	height: 39px;
	color: rgba(255, 255, 255, 1);
}
.section-items__price-header {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 1.2;
	padding: 24px 0;
	border-bottom: 1px solid #fff; 
}
.price {
	font-family: 'RalewayBold';
	font-size: 94px;
	font-weight: bold;
	color: #fff;
}
.price:before {
	content: "$";
	font-size: 35px;
}
.sup-price-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.5);	
	padding-bottom: 24px;
}
.price-hover {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0);
	background-color: #ff8b38;
	transition: height .2s ease, color .2s;
	cursor: pointer;
}
/*.price-hover:hover {
	height: 39px;
}*/
.price-item {
	width: 100%;
	background-color: #fff;
	padding: 14px 0;
	text-align: center;
	text-transform: uppercase;
	border-top: .1px solid #f5f5f5;
}

/*reviews*/
.section-items__reviews {
	flex-basis: 25%;
}
.reviews-header {
	background-color: #f5f5f5;
	padding: 20px 15px;
	position: relative;
	border-radius: 3px;
}
.reviews-header:after {
	content: "";
	display: block;
	border: 20px solid transparent; border-top: 20px solid #f5f5f5;
	position: absolute;
	bottom: -35px;
	left: 20px;
}
.reviews-img {
	width: 100%;
	margin-top: 25px;
}
.reviews-img>img {
	float: left;
	width: 70px;
	margin: 15px;
	margin-top: 0;
	border-radius: 50%; 
}
.reviews-img>h4 {
	margin-top: 13px;
}








@media screen and (max-width: 770px) {
	.container__flex {
		justify-content: center;
	}
	.logo__size {
		text-align: center;
	}
	.header-text {
		width: 100%;
	}

	/*#social*/
	.social-media {
		width: 100%;
		text-align: center;
	}
	.social-icon {
		width: 100%;
		padding-bottom: 30px;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	/*transition-effect*/
	.transition-effect-block {
		width: 20%
	}
	.transition-effect-text {
		width: 75%;
		margin-left: 20px;	
	}

	/*list*/
	.section-text {
		width: 47%;
	}
	.section-img {
		width: 47%;
		margin-right: 20px;
	}

	/*awesome*/
	.section-items {
		flex-basis: 45%;
	}

}

@media screen and (max-width: 650px) {
	.menu-burger {
		display: block;
	}
	.nav-menu {
		display: none;
		position: absolute;
		top: 50px;
		right: -20px;
	}
	.menu-item {
		background-color: #000;
		padding: 20px 30px;
		width: 40vh;
	}


}

@media screen and (max-width: 560px) {
			/*transition-effect*/
	.transition-effect-block {
		align-items: flex-start;
		width: 90%;
		margin-bottom: 30px;
	}
	.transition-effect-text {
		width: 90%;
	}

	/*list*/
		.section-text {
		width: 100%;
	}
	.section-img {
		width: 100%;
		margin: 20px 0;
	}

	/*awesome*/
		.section-items {
		flex-basis: 100%;
	}
}